body {
  min-width: 1200px;
  min-height: 800px;
}

.main--table {
  width: 100%;
  height: 100%;
  margin: 1em;
}

td {
  padding: 1em;
}

/* ------------------------FIRST TABLE----------------------- */

.first--table {
  text-align: center;
  height: 20em;
  width: 10em;
  border-collapse: collapse;
  margin: auto;
  border: 0.1em solid #111;
}

.first--table td {
  border: 0.1em solid #111;
}
.first--table tr {
  font-size: 0.6em;
  font-weight: 500;
}

.first--table tr:nth-child(1) {
  background-color: #bbb;
  font-weight: bold;
  font-size: 0.9em;
}

/* -----------------------SECOND TABLE----------------------- */

.second--table {
  height: 20em;
  width: 20em;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

.second--table td {
  border: 0.1em solid #111;
}
.second--table tr:nth-child(1) td:nth-child(1) {
  background-color: #c2d8f0;
}
.second--table tr:nth-child(1) td:nth-child(2) {
  background-color: #f7d95e;
}
.second--table tr:nth-child(1) td:nth-child(3) {
  background-color: #afd18a;
}

.second--table tr:nth-child(2) td:nth-child(1) {
  background-color: #adabaa;
}
.second--table tr:nth-child(2) td:nth-child(2) {
  background-color: #e07b28;
}
.second--table tr:nth-child(2) td:nth-child(3) {
  background-color: #5073c7;
}

.second--table tr:nth-child(3) td:nth-child(1) {
  background-color: #78ab43;
}
.second--table tr:nth-child(3) td:nth-child(2) {
  background-color: #c9c9c9;
}

.second--table tr:nth-child(4) td:nth-child(1) {
  background-color: #4374b5;
}
.second--table tr:nth-child(4) td:nth-child(2) {
  background-color: #ba5802;
}
.second--table tr:nth-child(4) td:nth-child(3) {
  background-color: #ba8f00;
}

/* ------------------------THIRD TABLE----------------------- */

.third--table {
  height: 20em;
  width: 20em;
  text-align: center;
  border-collapse: collapse;
  border: 0.1em solid #111;
  margin: auto;
}
.third--table td {
  border: 0.1em solid #111;
}

.third--table tr:nth-child(1) td:nth-child(1) {
  background-color: #c2d8f0;
  border: none;
}
.third--table tr:nth-child(1) td:nth-child(2) {
  background-color: #f7d95e;
}
.third--table tr:nth-child(1) td:nth-child(3) {
  background-color: #afd18a;
}

.third--table tr:nth-child(2) td:nth-child(1) {
  background-color: #5073c7;
  border: none;
}

.third--table tr:nth-child(3) td:nth-child(1) {
  background-color: #78ab43;
  border: none;
}

.third--table tr:nth-child(4) td:nth-child(1) {
  background-color: #adabaa;
  border: none;
}
.third--table tr:nth-child(4) td:nth-child(2) {
  background-color: #4375ba;
}
.third--table tr:nth-child(4) td:nth-child(3) {
  background-color: #ba5802;
}

/* ------------------------FORTH TABLE----------------------- */

.forth--table {
  height: 80%;
  width: 40em;
  border-collapse: collapse;
  font-size: 1em;
  margin: auto;
}

.forth--table td {
  border: 0.2em solid #ebebeb;
  padding: 0 0 1em 1em;
}

.forth--table tr {
  text-align: right;
}

.forth--table tr:nth-child(2),
.forth--table tr:nth-child(6) {
  background-color: #b0b0b0;
  text-align: left;
}

.forth--table tr:nth-child(2) > td,
.forth--table tr:nth-child(6) > td {
  padding: 0 10em 1.5em 0;
}
.forth--table tr:nth-child(3) td:nth-child(1),
.forth--table tr:nth-child(4) td:nth-child(1),
.forth--table tr:nth-child(5) td:nth-child(1),
.forth--table tr:nth-child(7) td:nth-child(1),
.forth--table tr:nth-child(8) td:nth-child(1) {
  background-color: #cccccc;
  text-align: left;
  padding: 0 1em 1em 0;
}

.forth--table tr:nth-child(1) {
  background-color: #d9d9d9;
  text-align: center;
}

.forth--table tr:first-child td {
  padding: 0.8em;
}
.forth--table caption {
  font-weight: bolder;
  font-size: 1.5em;
}
/* ------------------------ FIFTH TABLE----------------------- */

.fifth--table {
  height: 100%;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-family: "Times New Roman";
}

.fifth--table td {
  border: 0.1em solid #111;
}

.fifth--table * {
  font-weight: 900;
}
h3 {
  font-weight: bolder;
  font-size: 1.5em;
  margin-top: 0;
}
.fifth--table tr:nth-child(3) td:nth-child(2),
.fifth--table tr:nth-child(3) td:nth-child(3),
.fifth--table tr:nth-child(3) td:nth-child(4),
.fifth--table tr:nth-child(3) td:nth-child(5),
.fifth--table tr:nth-child(4) td:nth-child(2),
.fifth--table tr:nth-child(4) td:nth-child(3),
.fifth--table tr:nth-child(4) td:nth-child(4),
.fifth--table tr:nth-child(4) td:nth-child(5),
.fifth--table tr:nth-child(5) td:nth-child(2),
.fifth--table tr:nth-child(5) td:nth-child(3),
.fifth--table tr:nth-child(5) td:nth-child(4),
.fifth--table tr:nth-child(5) td:nth-child(5),
.fifth--table tr:nth-child(6) td:nth-child(2),
.fifth--table tr:nth-child(6) td:nth-child(3),
.fifth--table tr:nth-child(6) td:nth-child(4),
.fifth--table tr:nth-child(6) td:nth-child(5) {
  font-weight: 100;
}

/* ------------------------ SIXTH TABLE----------------------- */
.sixth--table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  width: 800px;
  height: 700px;
}
.sixth--table td {
  font-size: 50px;
  border: 0.1em solid #555;
  font-weight: 900;
}

.sixth--table td {
  border: none;
}
.td--0 {
  background-color: #c267a5;
}
.td--1 {
  background-color: #c26566;
}
.td--2 {
  background-color: #c7a463;
}
.td--3 {
  background-color: #b9cc62;
}
.td--4 {
  background-color: #87cc62;
}
.td--5 {
  background-color: #78cc8c;
  padding: 0;
}
.td--6 {
  background-color: #7acccb;
}
.td--7 {
  background-color: #6f92c9;
}
.td--8 {
  background-color: #7a66d1;
}
.sixth--table .td--left {
  border-left: 0.1em solid #111;
}
.sixth--table .td--right {
  border-right: 0.1em solid #111;
}

.sixth--table .td--0,
.sixth--table .td--1,
.sixth--table .td--2,
.sixth--table .td--3,
.sixth--table .td--4,
.sixth--table .td--5,
.sixth--table .td--6,
.sixth--table .td--7,
.sixth--table .td--8 {
  border: 0.1em solid #111;
}

.sixth--table .td--0,
.sixth--table .td--3,
.sixth--table .td--4 {
  border-bottom: none;
}

h1 {
  text-align: center;
}
